<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Edison Dao">   
        <meta name="description" content="This is a web lab 1 for 67 450">
        <meta name="keywords" content="Carngie Mellon University, Information Systems">
        <link rel="stylesheet" href="..\static\style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="../static/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <title>Edison Dao</title>
    </head>
    <body>
        <header>
            <h1 id="webname">Edison</h1>
            <nav id="myTopnav" class="topnav">
                <a href="index.html">Home</a>
                <a href="cv.html" class="active">CV</a>
                <a href="contact.html">Contact Me</a>
                <a href="fun.html">For Fun</a>
                <a href="javascript:void(0);" class="icon">
                    <i class="fa fa-bars" onclick="activeNav()"></i>
                </a>
            </nav>
        </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr><th>Name</th><th>Description</th></tr>
                <tr><td>Carnegie Mellon University</td><td>Bachelors, Dietrich College of H&SS</td></tr>
                <tr><td>St. George's School</td><td>High School Diploma</td></tr>
            </table>
            <a href="..\static\my_resume.pdf" target="_blank">My resume, pdf version</a>
        </div>
        <footer>
            <p>Edison Dao &copy; 2024</p>
        </footer>
    </body>

</html>